<div class="container__home">
  <app-card  gamePrice="R$ 400,84" gameType="DIGITAL | PS4" gameLabel="DIGITAL" gameCover="assets/bt-4.jpg"></app-card>

  <app-card  gamePrice="R$ 200,84" gameType="PS5" gameLabel="EXCLUSIVO" gameCover="assets/bt-hardline.jpg"></app-card>

  <app-card  gamePrice="R$ 322,43" gameType="PS4" gameLabel="EXCLUSIVO" gameCover="assets/ac-cover.jpg"></app-card>

  <app-card  gamePrice="R$ 265,87" gameType="PS2" gameLabel="EXCLUSIVO" gameCover="assets/bt-bad-company-2.jpg"></app-card>

  <app-card  gamePrice="R$ 415,19" gameType="PS5 | DIGITAL" gameLabel="NEW" gameCover="assets/bt-1.jpg"></app-card>
</div>
